{% extends "base.html" %}

{% block title %} 发布文字 {% endblock %}


{% block article %}

<form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    {% csrf_token %}
    <div class="field">
        <label for="id_caption">Title: </label><br>
        {% if form.caption.errors %}
        <div class="alert alert-error">
            {{ form.caption.errors }}
        </div>
        {% endif %}
        <input name="caption" type="text" class="form-control" placeholder="Text input">
    </div>
    <div class="field">
        <label for="id_content">Content: </label>
        {% if form.content.errors %}
        <div class="alert alert-error">
            {{ form.content.errors }}
        </div>
        {% endif %}
        <textarea name="content" class="form-control" rows="15"></textarea>
    </div>
    <div class="field">
        <label for="id_tag">tags: </label><br>
        {% if tag.tag_name.errors %}
        <div class="alert alert-error">
            {{ tag.tag_name.errors }}
        </div>
        {% endif %}
        <input name="tag_name" type="text" class="form-control" placeholder="tags">
    </div>
    <input type='file' style="padding:10px" name='file' />
    <div class="col-md-offset-10 form-actions" style="padding:20px">
        <input class="btn btn-primary" type="submit" value="Post">
    </div>
</form>
{% endblock %}